# -------------------------------
# Prometheus Config
# -------------------------------
apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-config
  namespace: {{ .Release.Namespace }}
data:
  prometheus.yml: |
    global:
      scrape_interval: 5s
    scrape_configs:
      - job_name: "prometheus"
        metrics_path: /metrics   # PrometheusMetrics exposes metrics here by default
        static_configs:
          - targets: ["localhost:9090"]   # replace with your Flask host:port
      - job_name: 'kube-apiserver'
        scheme: https
        tls_config:
          insecure_skip_verify: true
        bearer_token_file: /var/run/secrets/kubernetes.io/serviceaccount/token
        static_configs:
          - targets:
              - "kubernetes.default.svc:443"

---

# -------------------------------
# Prometheus
# -------------------------------
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Namespace }}-prometheus
  namespace: {{ .Release.Namespace }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: prometheus-dep-pod
  template:
    metadata:
      labels:
        app: prometheus-dep-pod
    spec:
      serviceAccountName: prometheus
      containers:
        - name: prometheus
          image: {{ .Values.images.prom.name }}:{{ .Values.images.prom.tag }} # prom/prometheus:v3.5.0
          args:
            - "--config.file=/etc/prometheus/prometheus.yml"
          ports:
            - containerPort: 9090
          volumeMounts:
            - name: prometheus-config-volume
              mountPath: /etc/prometheus
          #   - name: prometheus-storage
          #     mountPath: /prometheus
          resources:
              requests:
                memory: "1000Mi"
                cpu: "1000m"
              limits:
                memory: "1000Mi"
                cpu: "2000m"
      volumes:
        - name: prometheus-config-volume
          configMap:
            name: prometheus-config
#         - name: prometheus-storage
#           persistentVolumeClaim:
#             claimName: prometheus-pvc

# ---
# apiVersion: v1
# kind: PersistentVolumeClaim
# metadata:
#   name: prometheus-pvc
#   namespace: {{.Release.Namespace}}
# spec:
#   storageClassName: fast-ssd
#   accessModes:
#     - ReadWriteOnce
#   resources:
#     requests:
#       storage: 10Gi
# ---

---

apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Namespace }}-prometheus-svc
  namespace: {{ .Release.Namespace }}
spec:
  type: NodePort
  selector:
    app: prometheus-dep-pod
  ports:
    - port: 9090
      targetPort: 9090
      nodePort: 32001

---

apiVersion: v1
kind: ServiceAccount
metadata:
  name: prometheus-sa
  namespace: {{ .Release.Namespace }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: prometheus-sa
rules:
  - apiGroups: [""]
    resources:
      - nodes
      - nodes/metrics
      - services
      - endpoints
      - pods
    verbs:
      - get
      - list
      - watch

  - nonResourceURLs:
      - /metrics
    verbs:
      - get

---

apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: prometheus-sa
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: prometheus-sa
subjects:
  - kind: ServiceAccount
    name: prometheus-sa
    namespace: {{ .Release.Namespace }}